body {
  min-width: 100%;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

input {
  height: 3vh;
  width: 30vw;
}

.header {
  text-align: center;
  /* height: 15vh; */
}

#fullComments {
  background-color: rgb(150, 150, 150);
  width: 75.1vw;
  height: 89.5vh;
  left: 0;
  position: absolute;
  margin-left: 16.6vw;
  margin-top: -3.7vh;
}

/* h1 {
  margin-left: 10vw;
} */
